html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
.page-section {
  min-height: 100vh;
  background: url("../img/page-bg.jpg") no-repeat top center/cover;
  position: relative;
  padding: 0 0 50px;
}
.title {
}
.scroll {
  padding: 13px 0 40px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;bottom: 0;
  &__link {
  }
}
.container {
  max-width: 1270px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.logo__img-mobile {
  display: none;
}
@media (max-width: 600px) {
  .logo__img {
    display: none;
  }
  .logo__img-mobile {
    display: block;
  }
}
